{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}

    {% block subheadline %}
    {% if subHeadline %}
        <div class="subheadline">{{ subHeadline }}</div>
    {% endif %}
    {% endblock %}

    {% block text %}
        {% set text_attributes = attrs()
            .addClass('rte')
            .mergeWith(text_attributes|default)
        %}
        <div{% block text_attributes %}{{ text_attributes }}{% endblock %}>
            {{ text|csp_inline_styles|insert_tag|encode_email|raw }}
        </div>
    {% endblock %}

    {% block text_link %}
        {% if href %}
        <a{{ attrs(link_attributes|default) }}>{{ link_text|insert_tag }}</a>
        {% endif %}
    {% endblock %}

{% endblock %}
